@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Rowdies:wght@300;400;700&display=swap');

:root {
	--color-primary-light: #a4e87d;
	--color-primary: #61d49c;
	--color-primary-dark: #08bba6;

	--color-grey-light: #e9e5e5;
	--color-grey-lighter: #fbfbfb;
	--color-grey: #c1bbbb;
	--color-grey-dark: #8f8f8f;

	--color-white: #fff;
	--color-black: #000;
}

body {
	background-color: var(--color-white);
	font-family: Outfit;
	margin: 0;
}

/* SIGNUP STYLES */
.signup {
	width: 30%;
	margin: 0 auto;
	margin-top: 100px;
	min-width: 400px;
}

.signup h1 {
	text-align: center;
}
.signup form {
	width: 100%;
}
.signup form input {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--color-primary-dark);
	padding: 10px;
	font-size: 14px;
	margin-top: 5px;
	outline: none;
}

.signup form input::placeholder {
	color: var(--color-grey);
}
.signup form button {
	width: 100%;
	padding: 10px;
	font-size: 14px;
	margin-top: 5px;
	border: none;
	background-color: var(--color-primary-dark);
	color: var(--color-white);
}
.signup p.text {
	text-align: center;
}
.signup p.text a {
	text-decoration: none;
	color: var(--color-primary);
}

.signup p.other {
	display: flex;
	gap: 4px;
	align-items: center;
}

.signup p.other span {
	border-bottom: 1px solid var(--color-grey-dark);
	flex: 1;
}
.secondary-button {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
	gap: 10px;
	margin-top: 5px;
	background-color: var(--color-white);
	border: 1px solid var(--color-primary-dark);
}
.secondary-button img {
	height: 20px;
	width: 20px;
	object-fit: cover;
}
input,
button {
	border-radius: 5px;
}

/*CHAT PAGE STYLINGS*/
.chat {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.chat header.chat-header {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 0.75px solid var(--color-grey-light);
	img {
		width: 150px;
		margin-right: auto;
	}
	.person {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	.person .logo {
		height: 40px;
		width: 40px;
		display: flex;
		background-color: var(--color-primary);
		font-weight: bolder;
		color: var(--color-white);
		border-radius: 100%;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
	}
	.person .name {
		font-size: 20px;
		text-transform: capitalize;
	}
}

.chat .ai-section {
	flex: 1;

	.init {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		/* padding: 5px; */

		h2 {
			margin: 0 0 10px 0px;
			font-weight: 400;

			span{
				text-transform: capitalize;
			}
		}
		.ai-response{
			width: 65%;
			flex: 1;
		}
		form {
			width: 60%;
			padding: 15px;
			border-radius: 8px;
			background-color: var(--color-grey-light);
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			textarea {
				background-color: transparent;
				border: none;
				outline: none;
				flex: 1;
				resize: none;
			}

			button {
				border: none;
				background-color: var(--color-black);
				align-items: center;
				justify-content: center;
				display: flex;
				height: 40px;
				width: 40px;
			}
		}
	}
}
